/*nav*/
nav.menu {
  background-color: #dcdcdc;
  width: 38%;
  display: inline-block;
  text-align: center;
}

nav.menu ul {
  list-style: none;
}

nav.menu ul li {
  font-size: 18px;
  text-transform: uppercase;
  border-bottom: 1px solid #cefdff;
  padding: 15px;
}

nav.menu ul li span {
  vertical-align: middle;
}
